<a href="https://colab.research.google.com/github/ypy0816/code-challenge/blob/master/InsightData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
Import Pandas library 
```

In [0]:
import pandas as pd

```
Import csv files to colab as the Pandas data frame, that is 'order_products' and 'products' 
```

In [6]:
from google.colab import files
uploaded = files.upload()
order_products = pd.read_csv('order_products.csv')
products = pd.read_csv('products.csv')

Saving order_products.csv to order_products (2).csv
Saving products.csv to products.csv

```
Check data information
```

In [7]:
order_products.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                1.0        1.0
1         2       28985                2.0        1.0
2         2        9327                3.0        0.0
3         2       45918                4.0        1.0
4         2       30035                5.0        0.0
5         2       17794                6.0        1.0
6         2       40141                7.0        1.0
7         2        1819                8.0        1.0
8         2       43668                9.0        0.0
9         3       33754                1.0        1.0

In [8]:
products.head(10)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7

```
merge two data frame ('order products' and 'products') by 'product_id' to a new data frame of 'summary'
```

In [9]:
summary = pd.merge(order_products, products, how='outer', on='product_id')
summary.head(10)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2.0,33120,1.0,1.0,Organic Egg Whites,86,16
1,26.0,33120,5.0,0.0,Organic Egg Whites,86,16
2,120.0,33120,13.0,0.0,Organic Egg Whites,86,16
3,327.0,33120,5.0,1.0,Organic Egg Whites,86,16
4,390.0,33120,28.0,1.0,Organic Egg Whites,86,16
5,537.0,33120,2.0,1.0,Organic Egg Whites,86,16
6,582.0,33120,7.0,1.0,Organic Egg Whites,86,16
7,608.0,33120,5.0,1.0,Organic Egg Whites,86,16
8,623.0,33120,1.0,1.0,Organic Egg Whites,86,16
9,689.0,33120,4.0,1.0,Organic Egg Whites,86,16

```
Group data of same 'department_id' and create another column of 'number_of_orders' named data frame of 'summary_1' 
```

In [10]:
summary_1 = summary.groupby(['department_id'], as_index = False).size().reset_index(name='number_of_orders')
summary_1.head(10)

   department_id  number_of_orders
0              1            367036
1              2              5839
2              3            193254
3              4           1555466
4              5             25424
5              6             44276
6              7            441246
7              8             16144
8              9            141943
9             10              5584

```
Summary of reordered number in each department_id. noted that sum of reordered typies the total number of repeat ordered product  
```

In [11]:
function1 = {'reordered':'sum'}
summary_2 = summary.groupby(['department_id'], as_index = False).agg(function1)
summary_2.head(10)

   department_id  reordered
0              1   198557.0
1              2     2467.0
2              3   121467.0
3              4  1010508.0
4              5    14596.0
5              6    16050.0
6              7   287725.0
7              8     9660.0
8              9    65385.0
9             10     3238.0

```
Add column of 'number_of_first_orders' to data frame of 'summary_1'.  number_of_first_orders = number_of_orders - reordered. 
```

In [12]:
summary_1['number_of_first_orders'] = summary_1['number_of_orders']-summary_2['reordered']
summary_1.head(10)

   department_id  number_of_orders  number_of_first_orders
0              1            367036                168479.0
1              2              5839                  3372.0
2              3            193254                 71787.0
3              4           1555466                544958.0
4              5             25424                 10828.0
5              6             44276                 28226.0
6              7            441246                153521.0
7              8             16144                  6484.0
8              9            141943                 76558.0
9             10              5584                  2346.0

```
Add column of 'percentage' to data frame of 'summary_1'.  percentage = number_of_first_orders/number_of_orders 
```

In [13]:
summary_1['percentage'] = summary_1['number_of_first_orders']/summary_1['number_of_orders']
summary_1.head(10)

   department_id  number_of_orders  number_of_first_orders  percentage
0              1            367036                168479.0    0.459026
1              2              5839                  3372.0    0.577496
2              3            193254                 71787.0    0.371464
3              4           1555466                544958.0    0.350350
4              5             25424                 10828.0    0.425897
5              6             44276                 28226.0    0.637501
6              7            441246                153521.0    0.347926
7              8             16144                  6484.0    0.401635
8              9            141943                 76558.0    0.539357
9             10              5584                  2346.0    0.420129